.content {
  p {
    margin: 0.5rem 0 2rem;
  }
  a {
    font-weight: 550;
    text-decoration: underline;
  }
  img {
    border-radius: 1rem;
    margin: 1rem 0;
  }
  ul {
    margin: 0 1.5rem;
    li {
      margin: 0.6rem 0;
    }
  }
}
