/* Global Styling Here */
/* html {
  scroll-behavior: smooth;
} */

.glow {
  filter: drop-shadow(0 0 12px #454a58);
}

.sticky-header {
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}
