@tailwind base;

@tailwind components;

@tailwind utilities;

html{
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}

.headerContent, .wrapper, .footerContent{
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.SiteWrapper{
  min-height: 100vh;
}

@media screen and (max-width:639px){
  .projectCard img{
    margin: 0 auto;
  }
}